@page "{id?}/{untouchedform=true}"
@using LibraryAccounting.Models;
@using Newtonsoft.Json;
@model LibraryAccounting.Pages.BookActions.EditModel
@{
    ViewData["Title"] = "Редактировать книгу";
    ViewData["Edit"] = JsonConvert.DeserializeObject<BookListModel>(TempData["Edit"].ToString());
}
@if (Model.Edit != null)
{
    <h2>@ViewData["Title"]</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Edit.ISBN" class="control-label"></label>
                    <input asp-for="Edit.ISBN" class="form-control" value="@((ViewData["Edit"] as BookListModel).ISBN)" />
                </div>
                <div class="form-group">
                    <label asp-for="Edit.Title" class="control-label"></label>
                    <input asp-for="Edit.Title" class="form-control" value="@((ViewData["Edit"] as BookListModel).Title)" />
                    <span asp-validation-for="Edit.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edit.Author" class="control-label"></label>
                    <input asp-for="Edit.Author" class="form-control" value="@((ViewData["Edit"] as BookListModel).Author)" />
                    <span asp-validation-for="Edit.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edit.PublishedBy" class="control-label"></label>
                    <input asp-for="Edit.PublishedBy" class="form-control" value="@((ViewData["Edit"] as BookListModel).PublishedBy)" />
                    <span asp-validation-for="Edit.PublishedBy" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Edit.PublishedDate" class="control-label"></label>
                    <input type="date" asp-for="Edit.PublishedDate" class="form-control" value="@((ViewData["Edit"] as BookListModel).PublishedDate.Value)" />
                    <span asp-validation-for="Edit.PublishedDate" class="text-danger" />
                    @if (!Model.UntouchedForm.Value)@Html.ValidationMessage("InvalidPublishedDate")
                </div>
                <div class="form-group">
                    <input type="submit" value="Изменить" class="btn btn-success" asp-page-handler="Edit" />
                    <input type="submit" class="cancel btn btn-outline-danger" value="Отмена" asp-page-handler="Cancel" />
                </div>
            </form>
        </div>
    </div>
}
    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }