@page "{currentpage=1}/{sortby=Title}"
@model LibraryAccounting.Pages.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ ViewData["Header"] = "Бибилотека"; }

<h1>@ViewData["Header"]</h1>
<div style="font-size:20px">
    <span class="label label-success"></span>
</div>
@if (Model.BooksList == null)
{
    <p><em>Нет ни одного элемента для показа</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td>
                        <form>
                            <div class="col-md-6">
                                <h4>Выберите статус отображаемых книг:</h4>
                                <select asp-for="@Model.Search.Status" asp-items="@Model.Search.Statuses">
                                    <option value="">All</option>
                                </select>
                                <input type="submit" value="Показать книги в данном статусе" />
                            </div>
                            <div class="col-md-6">
                                <h4>Поиск по ISBN: </h4>
                                <input type="text" asp-for="@Model.Search.SearchString" value="" />
                                <input type="submit" value="Найти" />
                            </div>
                        </form>
                     </td>
                </tr>
                <tr>
                    <td>
                        <form method="post">
                            @if (HttpContextAccessor.HttpContext.User.IsInRole("admin"))
                            {
                                <button type="submit" asp-page="./BookActions/AddBook"
                                        class="btn btn-default">
                                    Добавить книгу
                                </button>
                            }
                        </form>
                    </td>
                </tr>
             </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <form method="get" name="book_list" action="">
                <h2>Книги</h2>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @if (HttpContext.Request.Path.Value.Contains(" ASC"))
                                {
                                    Model.OrderBy = " DESC";
                                }
                                else
                                {
                                    Model.OrderBy = " ASC";
                                }
                                <a class="sort-link" asp-route-sortby=@String.Format("ISBN{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().ISBN)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("Title{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().Title)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("Author{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().Author)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("PublishedDate{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().PublishedDate)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("PublishedBy{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().PublishedBy)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("Status{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().Status)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("ReaderName{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().ReaderName)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("ReservationDate{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().ReservationDate)
                                </a>
                            </th>
                            <th>
                                <a class="sort-link" asp-route-sortby=@String.Format("ReturningDate{0}", Model.OrderBy)>
                                    @Html.DisplayNameFor(model => model.BooksList.First().ReturningDate)
                                </a>
                            </th>
                            @if (HttpContextAccessor.HttpContext.User.IsInRole("admin"))
                            {
                                <th>
                                    <a class="sort-link" asp-route-sortby=@String.Format("ChangemakerFullName{0}", Model.OrderBy)>
                                        @Html.DisplayNameFor(model => model.BooksList.First().ChangemakerFullName)
                                    </a>
                                </th>
                                <th>
                                    <a class="sort-link" asp-route-sortby=@String.Format("ChangeDate{0}", Model.OrderBy)>
                                        @Html.DisplayNameFor(model => model.BooksList.First().ChangeDate)
                                    </a>
                                </th>
                                <th>
                                    <a class="sort-link" asp-route-sortby=@String.Format("Comment{0}", Model.OrderBy)>
                                        @Html.DisplayNameFor(model => model.BooksList.First().Comment)
                                    </a>
                                </th>
                            }
                            <th>
                                Действия
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model.BooksList)
                        {
                            <tr>
                                <td>@book.ISBN</td>
                                <td>@book.Title</td>
                                <td>@book.Author</td>
                                <td>@book.PublishedDate.Value.Year</td>
                                <td>@book.PublishedBy</td>
                                <td>@book.Status</td>
                                <td>@book.ReaderName</td>
                                <td>@book.ReservationDate</td>
                                <td>@book.ReturningDate</td>
                                @if (HttpContextAccessor.HttpContext.User.IsInRole("admin"))
                                {
                                    <td>@book.ChangemakerFullName</td>
                                    <td>@book.ChangeDate</td>
                                    <td>@book.Comment</td>
                                }
                                <td>
                                
                                    @if (book.Status == "В библиотеке")
                                    {
                                        <a asp-page="BookActions/TakeBook" asp-route-id="@book.BookId">Взять книгу</a>
                                    }
                                    @if (HttpContextAccessor.HttpContext.User.IsInRole("admin"))
                                    { 
                                        <a asp-page="BookActions/EditBook" asp-route-id="@book.BookId">Редактировать</a>
                                        <a asp-page="BookActions/BookStat" asp-route-id="@book.BookId">Статистика</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div>
        <ul class="pagination">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")" title="First">
                <a class="page-link" asp-all-route-data="@(new Dictionary<string, string>{ { "currentpage", "1" },{ "sortby", Model.SortBy }})">
                    <i class="fas fa-fast-backward"></i>
                </a>
            </li>

            <li class="page-item @(!Model.ShowPrevious? "disabled":"")" title="Previous">
                <a asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", (Model.CurrentPage -1).ToString() },{ "sortby", Model.SortBy }})" class="page-link">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            <li class="page-item  @(!Model.ShowNext? "disabled":"")" title="Next">
                <a asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", (Model.CurrentPage + 1).ToString() },{ "sortby", Model.SortBy }})" class="page-link">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>

            <li class="page-item  @(!Model.ShowLast? "disabled":"")" title="Last">
                <a asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", Model.TotalPages.ToString() },{ "sortby", Model.SortBy }})" class="page-link">
                    <i class="fas fa-fast-forward"></i>
                </a>
            </li>
        </ul>
    </div>
}


@section scripts{
    <script>
    </script>
}