@page "/Library"
@model LibraryAccounting.Pages.LibraryModel

@using LibraryAccounting.Services
@using LibraryAccounting.DTO
@inject BooksList BookListShower

<h1>Library</h1>

@if (Model.Library == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Код ISBN</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Издательство</th>
                <th>Год издания</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Library)
            {
                <tr>
                    <td>@book.ISBN</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.PublishedBy</td>
                    <td>@book.PublishedDate</td>
                </tr>
            }
        </tbody>
    </table>
}
